<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162276198-1"></script>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="static/css/myBulmaStylesMin.css">
    <script
      crossorigin="anonymous">
    </script>
</head>
<body>
    
    
    <div id="header_container"></div>   
    <div class="container bd-main-container" >        
        <h1 class="title is-1" style="text-align:center">Yes no Detector</h1>       
    </div>
</body>
<script src="static/js/home.js"></script>
</html>